body {
    background-image: url('./img/bg.png'), url('./img/bg2.png');
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: left bottom, right bottom;
    background-size: auto, auto;
}
.todosRow {
    background: #eee;
    color: black;
}
.selected {
    background-color: red;
    color: white;
}
img {
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
header {
    padding: 20px 0;
}
footer {
    margin-top: 100px;
    padding: 20px 0 10px 0;
}
h1 {
    color: #2E3192;
}